h3 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inconsolata", monospace;
  color: #FF8303;
  font-style: normal;
  font-size: 32px;
  font-weight: 700;
  margin: 20px;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: #1F1E1B;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}

.header__nav {
  background-color: #1F1E1B;
  height: 80px;
  align-items: center;
  text-align: center;
  display: flex;
  justify-content: space-between;
}
.header__nav ul {
  display: flex;
  gap: 40px;
  list-style-type: none;
}
.header__nav ul a {
  text-decoration: none;
}
.header__nav ul a li {
  font-family: "Inconsolata", monospace;
  color: #F0E3CA;
  font-style: normal;
  font-size: 20px;
  font-weight: 700;
}
.header__nav ul a li:hover {
  color: #FF8303;
  transition: 0.3s linear;
}

.header__logo {
  font-family: "Inconsolata", monospace;
  color: #FF8303;
  font-style: normal;
  font-size: 30px;
  font-weight: 900;
}
.header__logo span {
  color: #F0E3CA;
}

.header__main {
  height: 720px;
  padding: 50px 0;
  display: flex;
}

.header__main-left {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header__info h1 {
  font-family: "Inconsolata", monospace;
  color: #FF8303;
  font-style: normal;
  font-size: 64px;
  font-weight: 900;
  margin: 0;
}
.header__info h2 {
  font-family: "Inconsolata", monospace;
  color: #F0E3CA;
  font-style: normal;
  font-size: 40px;
  font-weight: 700;
  margin: 0;
}
.header__info p {
  font-family: "Inconsolata", monospace;
  color: #F0E3CA;
  font-style: normal;
  font-size: 20px;
  font-weight: 400;
  width: 400px;
}

.header__main-right {
  width: 50%;
  background: url(../img/Bg-code.png);
}

.info__content {
  align-items: center;
  font-family: "Inconsolata", monospace;
  color: #F0E3CA;
  font-style: normal;
  font-size: 20px;
  font-weight: 400;
  width: 900px;
  padding: 80px;
  display: flex;
}
.info__content::before {
  content: url(../img/Logo.svg);
  padding: 0px 40px;
}

.my-skills {
  color: #000;
  margin-bottom: 100px;
}

.my-skills__blocks {
  margin-top: 80px;
  display: flex;
  justify-content: space-around;
}
.my-skills__blocks div {
  background: #1B1A17;
  border-radius: 10px;
  height: 300px;
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.my-skills__blocks div p {
  font-family: "Inconsolata", monospace;
  color: #F0E3CA;
  font-style: normal;
  font-size: 32px;
  font-weight: 400;
}

.my-work {
  margin-bottom: 60px;
  color: #F0E3CA;
}

.my-work__blocks {
  margin-top: 80px;
  display: flex;
  justify-content: center;
}

.my-work__block {
  width: 33%;
  height: 320px;
  width: 30%;
  display: flex;
  justify-content: center;
}
.my-work__block h3 {
  margin: 60px 0 10px 0;
}
.my-work__block h4 {
  font-family: "Inconsolata", monospace;
  color: #F0E3CA;
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  align-items: center;
  text-align: center;
  margin: 0;
}
.my-work__block p {
  font-family: "Inconsolata", monospace;
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  align-items: center;
  text-align: center;
  width: 300px;
  margin-left: 10px;
}
.my-work__block a {
  color: #F0E3CA;
  background: #1F1E1B;
  border: none;
  width: 100px;
  border-radius: 5px;
  padding: 12px 20px;
  text-align: center;
  margin: 0 auto;
  display: block;
}

.my-work__img {
  width: 320px;
  position: absolute;
  height: 320px;
  z-index: 1;
}

.my-work__img-active {
  z-index: -5;
  opacity: 10%;
}

.my-work__text {
  height: 320px;
  z-index: 0;
}

.line {
  width: 200px;
  margin: 20px auto;
  border: #32312E 1px solid;
}

.footer__content {
  display: flex;
  justify-content: center;
}

.footer__text {
  width: 230px;
}
.footer__text p {
  font-family: "Inconsolata", monospace;
  color: #F0E3CA;
  font-style: normal;
  font-size: 20px;
  font-weight: 400;
}

footer {
  margin: 150px 0 50px 0;
}

.footer__contacts {
  margin-left: 50px;
}
.footer__contacts h3 {
  margin: 0 0 15px 0;
  justify-content: flex-start;
}

.footer__social {
  width: 500px;
  display: flex;
  flex-wrap: wrap;
}

.social {
  display: flex;
  align-items: center;
  width: 50%;
  margin-bottom: 20px;
}
.social a {
  margin-left: 15px;
  font-family: "Inconsolata", monospace;
  color: #FF8303;
  font-style: normal;
  font-size: 24px;
  font-weight: 400;
}/*# sourceMappingURL=style.css.map */